img.header-img {
    border-radius: 205px;
    background: #cdd0d1;
    /*box-shadow: 28px 28px 100px #757777, -28px -28px 100px #ffffff;*/
    height: 30px;
    width: 30px;
}

nav#menubar {
    background-color: white;
    float: right;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
}

a.header-text {
    text-decoration: none;
    color: black;
    padding-bottom: 25px;
}

#google {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

#google-search {
    width: 100%;
    margin-top: 220px;
    position: absolute;
    height: 60px;
    text-align: center;
}

input#search-box {
    border-radius: 25px;
    height: 35px;
    padding: 4px;
    width: 550px;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px #d5d5d5, -5px -5px 10px #ffffff;
    font-size: 20px;
}

#icons {
    background-color: grey;
    width: 100%;
    display: flex;
    position: absolute;
}