img.header-img {
    border-radius: 205px;
    background: #cdd0d1;
    /*box-shadow: 28px 28px 100px #757777, -28px -28px 100px #ffffff;*/
    height: 30px;
    width: 30px;
}

nav#menubar {
    background-color: white;
    float: right;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
}

a.header-text {
    text-decoration: none;
    color: black;
    padding-bottom: 25px;
}

.header-text {
    padding-bottom: 20px;
}

body {
    background-color: red;
}