img .header-img {
    border-radius: 205px;
    background: #cdd0d1;
    /*box-shadow: 28px 28px 100px #757777, -28px -28px 100px #ffffff;*/
    height: 50px;
    width: 50px;
}

body {
    background-color: red;
}